.rating-bars {
    position: absolute;
    display: flex;
    top:22px;
    left:340px;
}
.rating{
    position:absolute;
  display: flex;
  background: #18171F;
  width: 421px;
height: 63px;
top: 265px;
left: 30px;
}
.strength-rating{
position: absolute;
    font-family: 'Space Mono',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.008em;
    text-align: left;
    width: 78px;
height: 15px;
top: 24px;
left: 28px;
color: #82808E;


}
  
.bar {
    width: 5px;
    height: 22px;
    margin-right: 7px;
    border: 2.1px;
    background-color:#FFFFFF;
    top:20px;
}
  
.length_range__slider {
  display: flex;
  align-items: center;
}
  
input[type="range"] {
    position: absolute;
  width: 399px;
  height:7px;
  top:70px;
  left:50px;
}
span {
    position: absolute;
    font-family: 'Space Mono',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.008em;
    text-align: left;
    width: 18px;
height: 30px;
top: 32px;
left: 435px;
color: #A4FFAF;

    
}
.container{
    background: #0C0B10;
    width: 1280px;
    height: 910px;
}
.pwd-title{
    position: absolute;
    font-family:'Space Mono',sans-serif;
font-size: 19px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.048em;
height: 21px;
width: 232px;
top:119px;
left: 524px;

color: #7E7C89;

}
.result{
    position: absolute;
    width: 480px;
height: 70px;
top: 190px;
left: 400px;
background-color:#24232B;
}
.result__viewbox{
    position: absolute;
    font-family: 'Space Mono',sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0.048em;
text-align: left;
color: #53525A;
width: 20px;
height: 29px;
top: 20px;
left: 27px;
}
.copy-btn{
    position: absolute;
    width: 18px;
height: 20px;
top: 27px;
right: 27px;
background-color:rgba(36, 35, 43, 1);
}
.main-pwd{
    position: absolute;
    width: 480px;
height: 469px;
top: 286px;
left: 400px;
background: #24232B;

}
.length_title{
    position: absolute;
    font-family:'Space Mono',sans-serif;
font-size: 15px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.008em;
text-align: left;
width: 153px;
height: 14px;
top: 32px;
left: 29px;
color: #FFFFFF;
}
.uppercase{
    position: absolute;
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.027em;
    text-align: left;
    width: 262px;
    height: 16px;
    top: 105px;
    left: 67px; 
    color: #FFFFFF;
}
.lowercase{
    position: absolute;
    font-family: 'Space Mono', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.027em;
width: 262px;
    height: 16px;
    top: 143px;
    left: 67px; 
    color: #FFFFFF;

}
.number{
    position: absolute;
    font-family: 'Space Mono', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.027em;
text-align: left;
width: 262px;
    height: 16px;
    top: 181px;
    left: 67px; 
    color: #FFFFFF;
}
.symbol{
    position: absolute;
    font-family: 'Space Mono', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.027em;
text-align: left;
width: 262px;
    height: 16px;
    top: 219px;
    left: 67px; 
    color: #FFFFFF;
}
.btn-generate{
    position: absolute;
    width: 424px;
height: 59px;
top: 363px;
left: 28px;
background: #A4FFAF;
font-size: 13px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
}
